<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xujiajun.corolla.order.dal.dao.OrderMapper">

    <resultMap id="BaseResultMap" type="com.xujiajun.corolla.model.Order">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="deleted" column="is_delete"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="orderMsgId" column="order_msg_id"/>
    </resultMap>

    <sql id="BaseColumnList">
        id, user_id, is_delete, create_time, update_time, order_msg_id
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
            corolla_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="deleted != null">
                is_delete,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="orderMsgId != null">
                order_msg_id,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId},
            </if>
            <if test="deleted != null">
                #{deleted},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="orderMsgId != null">
                #{orderMsgId},
            </if>
        </trim>
    </insert>

    <update id="removeByOrderMsgId">
        UPDATE
            corolla_order
        SET
            is_delete = TRUE
        WHERE
            order_msg_id = #{orderMsgId}
    </update>

    <select id="getByOrderMsgId" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumnList"/>
        FROM
            corolla_order
        WHERE
            order_msg_id = #{orderMsgId}
    </select>
</mapper>